<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
        crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <section id="home">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-8 col-sm-8 col-md-6 col-lg-5" id="warning">
                    <h1>
                        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> WARNING !</h1>
                    <p>We know you&#8217;ve tried, and have probably had enough of those endless career questionnaires that
                        don't give accurate results.</p>
                    <p>Well, so have we!</p>
                    <p>That's why we created a much more efficient solution, just for you. It's much easier to use, and tailored
                        to suit your personality.</p>
                    <p>If you never thought that you could get paid just for being yourself, you&#8217;re about to get rudely
                        shocked.
                    </p>
                    <br>
                    <p>Please enter your Twitter handle below.</p>
                    <form id="twitter-handle-form">
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" id="input-div">
                            <div class="input-group mb-2 mb-sm-0">
                                <div class="input-group-addon">@</div>
                                <input type="text" class="form-control" id="twitter-handle" name="twitter-handle" placeholder="Twitter handle">
                            </div>
                        </div>
                        <div class="submit-button-div">
                            <button type="submit" class="btn btn-warning" id="submit-handle" disabled >Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/1090ba086e.js"></script>
    <script src="/javascripts/script.js"></script>
</body>

</html>