body {
  font-family: 'Quicksand', sans-serif;
}

#home {
  min-height: 100vh;
  background-color: blueviolet;
  color: white;
}

#intro {
  margin-top: 40vh;
}

#intro a {
  margin-top: 5vh;
  color: mediumvioletred;
  background-color: white;
  border-radius: 20px;
}

.nav-item {
  border: 1px solid blueviolet;
  border-radius: 10px;
}

.nav-link {
  color: tomato !important;
}
