body {
  font-family: 'Lato', sans-serif;
}

#accordion .row {
  margin-bottom: 4.7vh;
}

#accordion h5 {
  border-left: 6px solid rgb(2, 56, 100);
  color: rgb(2, 56, 100);
  padding-left: 2vw;
}

#accordion ul {
  list-style: none;
  margin-top: 2vh;
}

#careerDetails .card {
  margin-bottom: 1vh;
}

.description,
.jobTitles,
.relatedOccupations,
.tasks,
.knowledgeAreas,
.skills,
.workStyles,
  {
  margin-bottom: 2vh;
  margin-top: 2vh;
}

.card-header {
  border-top: 6px solid rgb(64, 164, 244);
  border-bottom: none;
}

#home {
  background-color: rgb(8, 6, 78);
  color: white;
  height: 100vh;
}

.gold {
  color: #ffd700;
}

input {
  background-color: transparent !important;
  border-left: 0 !important;
  border-right: 0 !important;
  border-radius: 0 !important;
  border-top: 0 !important;
  /* color: white !important; */
}

#inputDiv {
  padding: 0;
}

.input-group-addon {
  background-color: transparent;
  border: none;
  border-color: none;
}

#intro {
  margin-top: 40vh;
}

#intro a {
  background-color: #ffd700;
  border-radius: 20px;
  color: black;
  margin-top: 5vh;
}

li {
  list-style: none;
  margin-bottom: 2vh;
}

li::before {
  color: red;
  content: "\25AA";
  display: inline-block;
  width: 1em;
  margin-left: -1em
}

#loginContainer {
  display: none;
}

#loginDiv,
#signupDiv {
  background-color: #ffffff;
  padding: 30px;
}

#loginButton,
#loginContainer form,
#signupButton,
#signupContainer form {
  margin-top: 4vh;
}

.main {
  left: 39%;
  position: absolute;
  top: 15%;
}

.nav-item {
  border: 1px solid blueviolet;
  border-radius: 10px;
}

.nav-link {
  color: tomato !important;
}

p {
  line-height: 4.9vh;
}

p,
li {
  color: rgba(0, 0, 0, .70) !important;
  font-weight: 400;
}

.red {
  color: red;
}

section {
  margin-bottom: 8vh;
}

#summary {
  margin-top: 5vh;
}

#twitterFormDiv {
  position: relative;
  left: 39%;
  top: 5%;
}

#twitterFormDiv button {
  margin-top: 4vh;
}

#warning {
  margin-top: 15vh;
}

#warning h1 {
  color: #ffd700;
  padding-bottom: 5vh;
}

#welcome {
  background-image: url('../images/loginbg.png');
  color: white;
}

*:focus {
  box-shadow: none !important;
  outline: 0px !important;
  -webkit-appearance: none;
}