body {
  font-family: 'Quicksand', sans-serif;
}

#home {
  background-color: blueviolet;
  color: white;
  min-height: 100vh;
}

#input-div {
  padding: 0;
}

.input-group-addon {
  background-color: #ffd700 !important;
  border-color: none;
}

#intro {
  margin-top: 40vh;
}

#intro a {
  background-color: white;
  border-radius: 20px;
  color: mediumvioletred;
  margin-top: 5vh;
}

.nav-item {
  border: 1px solid blueviolet;
  border-radius: 10px;
}

.nav-link {
  color: tomato !important;
}

.submit-button-div {
  margin-top: 3vh;
}

#warning {
  margin-top: 9vh;
}

#warning h1 {
  color: #ffd700;
  padding-bottom: 5vh;
}

*:focus {
  box-shadow: none !important;
  outline: 0px !important;
  -webkit-appearance: none;
}